.subtitle {
  font-size: 40px;
  font-weight: 700;
  text-shadow: 0px 1px 8px var(--secondary-brand-color);
}
.bullets {
  display: grid;
  justify-items: center;
  gap: 10px;
  font-size: 24px;

  &__item {
    position: relative;
    text-shadow: 0px 1px 8px var(--brand-color);
    padding-left: var(--item-padding-state, 20px);

    &::before {
      content: var(--content-state, '');
      position: absolute;
      top: 7px;
      left: 0;
      width: 10px;
      height: 10px;
      background: var(--secondary-brand-color);
      box-shadow: 0 0 8px 0 var(--black-color);
      border-radius: 50%;
    }
  }
}
.examples {
  &__item {
    color: var(--cyan-color);
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0px 1px 8px var(--black-color);
  }
}
.note,
.result {
  color: var(--orange-color);
  text-shadow: 0px 1px 8px var(--black-color);
  font-weight: 700;
}

.divider {
  width: 100%;
  height: 2px;
  border-color: var(--secondary-brand-color);
}
.slide--28,
.slide--40,
.slide--41 {
  --content-state: none;
  --item-padding-state: 0px;
  --error-color: var(--red-color);
}

.slide {
  height: 100%;
  width: 100%;
  color: var(--white-color);
  padding: 20px 40px;
  display: grid;
  place-content: center;
  gap: 20px;
  text-align: center;

  &__page,
  &__content,
  &__warning,
  &__example,
  &__summary,
  &__case,
  &__checklist,
  &__resources {
    display: grid;
    gap: 26px;
  }

  &__page-title {
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0px 1px 8px var(--brand-color);
  }

  &__page-subtitle {
    text-shadow: 0px 1px 8px var(--brand-color);
  }

  &__case-situation,
  &__case-reality,
  &__case-conclusion,
  &__case-consequences,
  &__case-lesson,
  &__case-problem,
  &__case-question,
  &__case-outcome,
  &__final {
    display: grid;
    gap: 10px;
    text-shadow: 0 0 8px var(--brand-color);
  }

  &__case-strong {
    text-shadow: 0px 1px 8px var(--red-color);
    font-size: 30px;
    font-weight: 700;
  }

  &__case-desc {
    font-weight: 700;
    color: var(--orange-color);
  }

  &__case-list,
  &__checklist-list {
    display: grid;
    gap: 6px;
    font-size: 24px;
  }

  &__case-item {
    padding-left: 25px;
    position: relative;
    justify-self: center;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      width: 12px;
      height: 12px;
      transform: rotate(45deg);
      background: var(--cyan-color);
      box-shadow: 0 0 4px 0 var(--brand-color);
    }
  }

  &__example-header,
  &__example-items,
  &__example-conclusion {
    display: grid;
    gap: 6px;
  }

  &__example-header {
    text-shadow: 0px 1px 8px var(--orange-color);
  }

  &__example-title {
    font-size: 30px;
  }

  &__example-description {
    font-size: 24px;
  }

  &__example-items {
    display: grid;
    justify-items: center;
    gap: 10px;
    font-size: 24px;
  }

  &__example-item {
    position: relative;
    text-shadow: 0px 1px 8px var(--brand-color);
    padding-left: var(--item-padding-state, 20px);

    &:nth-of-type(1),
    &:nth-of-type(3) {
      color: var(--error-color);
    }

    &::before {
      content: var(--content-state, '');
      position: absolute;
      top: 7px;
      left: 0;
      width: 10px;
      height: 10px;
      background: var(--orange-color);
      box-shadow: 0 0 8px 0 var(--black-color);
      border-radius: 50%;
    }
  }

  &__example-strong {
    font-size: 30px;
    text-shadow: 0 0 8px var(--black-color);
  }

  &__example-desc {
    font-size: 16px;
    font-weight: 700;
    color: var(--orange-color);
    text-shadow: 0 0 8px var(--black-color);
  }

  &__example-button {
    justify-self: center;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 45px;
    border-radius: 6px;
    color: var(--secondary-brand-color);
    background: var(--black-color);
    outline: 0;
    transition: 0.3s ease;

    &:hover:not(:disabled) {
      --secondary-brand-color: #53b90f;
      --black-color: rgb(0, 13, 34);
    }

    &:active:not(:disabled) {
      --secondary-brand-color: var(--orange-color);

      transform: scale(0.98);
    }

    &:focus:not(:disabled) {
      box-shadow: 0 0 0 2px var(--secondary-brand-color);
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &__resources-list {
    display: grid;
    gap: 10px;
  }

  &__resources-item {
    font-size: 20px;
    a {
      color: var(--secondary-brand-color);
      text-decoration: none;
      font-weight: 700;
      transition: 0.3s ease;

      &:hover {
        color: var(--orange-color);
      }

      &:active {
        color: var(--red-color);
      }
    }
  }

  &__final-title {
    font-size: 30px;
    font-weight: 700;
  }
}
