:root {
  --white-color: rgb(241, 241, 241);
  --black-color: rgb(0, 0, 0);
  --brand-color: rgb(52, 98, 171);
  --cyan-color: rgb(38, 218, 253);
  --secondary-brand-color: rgb(78, 212, 1);
  --orange-color: rgb(254, 172, 48);
  --red-color: rgb(227, 60, 57);
}
